.disciplina {
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 0.5px;
    font-family: sans-serif;
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.disciplina h1 {
    color: blueviolet;
}
.disciplina h2 {
    color: rgb(232, 112, 31);
}
